# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Metapopulation Simulator.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\gamedev\Metapopulation Simulator\.idea\.idea.Metapopulation Simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
